@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: roboto,sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}
/* headings and logo */

h1, h2{
    font-family: montsrrat,sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #252525;
}
#logo{
    float: left;
    font-size: 250%;
    margin-left: 25px;
}
/* nav links */
#menu{
    font-size: 140%;
    letter-spacing: 2px;
    float: right;
    background-color:  rgba(214, 220, 207, 0.5);
    border-radius: 5px;
    padding-left: 30px;
    
}
#menu, #logo{
    line-height: 75px;
    
}
#menu li{
    float: left;
    list-style-type: none;
    margin-right: 50px;
    
}
#menu a{
    text-decoration: none;
    color: inherit;
    
   
}
#menu a:hover{
    border-bottom: 1.5px solid #3a3a3a;
    font-size: 110%;
     transition: 0.5s;
     
}
.active{
    border-bottom: 1.5px solid #3a3a3a;
    font-size: 100% !important;
}

/* hero image */
#hero-img{
    height: 800px;
    width: 100%;
    background: url(../images/hero-img.jpg) no-repeat center center;
}